<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intravenous </title>

  <style>
    body {
      background-image: url("https://i.imgur.com/uIgJC78.jpg");
      background-position: center;
      background-size: 20%;
      background-repeat: repeat;
      width: 100px;
      height: 100px;
      margin: 50px;
      padding: 50px;
      color: black;
      justify-content: center;
      align-content: center;
    }
    h1 {
    text-align: center;
    }
    .container {
      display: flex;
      flex-direction: row;
    }

  </style>

</head>

<body>
  <div class="container">
    <main>
      <h1>Rugs</h1>
      <div class="container top-container">
        <% homeproducts.forEach(product=> { %>
            <h2><%=product.name %></h2></br></br>
              <a href="/intravenous/<%=product._id %>"><img src="<%=product.img %>"></a><br><br>

              <form action="/intravenous/<%=product._id %>?_method=DELETE" method="post">
                <input type="submit" value="DELETE" />
              </form>

          
          <% }) %>
      </div>
    </main>
  </div>
</body>

</html>