<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Rug</title>
</head>
<body>
    <div class="container">
        <form actions="/intravenous" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name"/><br><br>

            <label for="img">Image URL:</label>
            <input type="img" name="img"/><br><br>

            <label for="type">Description:</label>
            <input type="text" name="description"/><br><br>

            <label for="hp">Price:</label>
            <input type="text" name="price"/><br><br>

            <label for="hp">Quantity:</label>
            <input type="text" name="qty"/><br><br>

            <button class="new-btn"><a href="/intravenous">Submit</a></button>
            <br><br>
        </form>
    </div>
</body>
</html>