<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Rug</title>
    <style>
    body {
      text-align: center;
    }
    h1 {
      text-align: center;
      justify-content: center;
    }
/* Menu bar */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d1e64b;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #fdbfd6;
  }
    </style>
</head>
<body>
  <!-- ============ HEADER ============ -->
  <%- include('./partials/header.ejs')%>
  <!-- ============ MAIN ============ -->
    <div class="container">
        <h1>New Rug</h1>
        <form actions="/intravenous" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name"/><br><br>

            <label for="img">Image URL:</label>
            <input type="img" name="img"/><br><br>

            <label for="type">Description:</label>
            <input type="text" name="description"/><br><br>

            <label for="hp">Price:</label>
            <input type="text" name="price"/><br><br>

            <label for="hp">Quantity:</label>
            <input type="text" name="qty"/><br><br>

            <button class="new-btn"><a href="/intravenous">Submit</a></button>
            <br><br>
        </form>
    </div>
</body>
</html>